### import liberies and opening amazon.in website

In [45]:
from selenium import webdriver
driver=webdriver.Chrome()
from bs4 import BeautifulSoup

driver.get('https://www.amazon.in/')
from selenium.webdriver.chrome.options import Options

### opening the laptops page in amazon website

In [46]:
from bs4 import BeautifulSoup
driver=webdriver.Chrome()
driver.get('https://www.amazon.in/s?k=laptops&crid=2G1XNQUWHBQBC&sprefix=laptops%2Caps%2C213&ref=nb_sb_noss_2')

In [47]:
html_data=BeautifulSoup(driver.page_source, 'html.parser')

In [4]:
no_of_pages=int(html_data.find('span',{'class':'s-pagination-item s-pagination-disabled'}).text)

In [5]:
no_of_pages

20

In [56]:
products=html_data.find_all('div',{'data-component-type':'s-search-result'})

In [55]:
# Find all the product divs
products = html_data.find_all('div', {'data-component-type': 's-search-result'})

# Get the count of products
product_count = len(products)

# Print the count
print(f"Total number of products found: {product_count}")

Total number of products found: 22

In [7]:
import time

In [8]:
from tqdm import tqdm

In [26]:
titles=[]
images=[]
ratings=[]
prices=[]

for i in tqdm(range(no_of_pages)):
    url="https://www.amazon.in/s?k=laptops&page=2&xpid=RH1scd8ARo2pI&crid=2G1XNQUWHBQBC&qid=1737882795&sprefix=laptops%2Caps%2C213&ref=sr_pg_2&page='+str(i+1)"
    driver.get(url)
    time.sleep(3)
    html_data=BeautifulSoup(driver.page_source, 'html.parser')
    for product in products:
        #title=product.find('h2',{'class':'a-size-medium a-spacing-none a-color-base a-text-normal'})
        #print(title)
        title_tag = product.find('h2', {'class': 'a-size-medium a-spacing-none a-color-base a-text-normal'})
        
        # Extract the title from the <span> tag inside the <h2>
        title = title_tag.find('span').text if title_tag else "No Title"
        
        titles.append(title)
        image=product.find('img')['src']
        images.append(image)
        rating=product.find('span',{'class':"a-icon-alt"})
        ratings.append(rating)
        price=product.find('span',{'class':'a-price-whole'}).text
        prices.append(price)

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 20/20 [02:05<00:00,  6.27s/it]

In [27]:
len(titles)

440

In [28]:
import pandas as pd

In [68]:
data=pd.DataFrame({'titles':titles,'images':images,'rating':rating,'prices':prices})

In [69]:
data

,titles,images,rating,prices
0,"HP 15, 12th Gen Intel Core i5-1235U, 16GB DDR4...",https://m.media-amazon.com/images/I/71p8u7Upw1...,3.8 out of 5 stars,"49,990"
1,"HP 15, 13th Gen Intel Core i5-1334U, 16GB DDR4...",https://m.media-amazon.com/images/I/71Zi-z2FtC...,3.8 out of 5 stars,"54,880"
2,(Refurbished) Lenovo ThinkPad 8th Gen Intel Co...,https://m.media-amazon.com/images/I/611AaVzaCQ...,3.8 out of 5 stars,"18,699"
3,Acer Aspire Lite AMD Ryzen 5-5625U Premium Thi...,https://m.media-amazon.com/images/I/61fDHkQ6Mq...,3.8 out of 5 stars,"33,490"
4,HP Laptop 255 G9 AMD Ryzen 3 3250U Dual Core -...,https://m.media-amazon.com/images/I/71cbbGm02p...,3.8 out of 5 stars,"25,000"
...,...,...,...,...
435,Acer Aspire Lite 13th Gen Intel Core i3-1305U ...,https://m.media-amazon.com/images/I/61fDHkQ6Mq...,3.8 out of 5 stars,"31,990"
436,"HP 15s, 12th Gen Intel Core i3-1215U, 8GB DDR4...",https://m.media-amazon.com/images/I/71k9Z+agn8...,3.8 out of 5 stars,"35,990"
437,"ASUS Vivobook 16"" FHD+ (1920 X 1200), 60Hz 300...",https://m.media-amazon.com/images/I/61fsBFww9D...,3.8 out of 5 stars,"51,990"
438,Lenovo IdeaPad Slim 5 12th Gen Intel Core i5 1...,https://m.media-amazon.com/images/I/612ealjuNb...,3.8 out of 5 stars,"59,990"
439,Lenovo IdeaPad Slim 3 Intel Core i5-13420H 15....,https://m.media-amazon.com/images/I/61RK2zd3-0...,3.8 out of 5 stars,"54,490"

### converting dataset into csv

In [59]:
data.describe()

             prices
count    440.000000
mean   40573.136364
std    14221.471823
min    18699.000000
25%    29850.000000
50%    36245.000000
75%    54490.000000
max    63990.000000

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   titles  440 non-null    object
 1   images  440 non-null    object
 2   rating  440 non-null    object
 3   prices  440 non-null    int64
dtypes: int64(1), object(3)
memory usage: 13.9+ KB

In [60]:
print(data.dtypes)

titles    object
images    object
rating    object
prices     int64
dtype: object

### less price laptops

In [61]:
data.sort_values('prices').head()

,titles,images,rating,prices
420,(Refurbished) Lenovo ThinkPad 8th Gen Intel Co...,https://m.media-amazon.com/images/I/611AaVzaCQ...,3.8 out of 5 stars,18699
376,(Refurbished) Lenovo ThinkPad 8th Gen Intel Co...,https://m.media-amazon.com/images/I/611AaVzaCQ...,3.8 out of 5 stars,18699
200,(Refurbished) Lenovo ThinkPad 8th Gen Intel Co...,https://m.media-amazon.com/images/I/611AaVzaCQ...,3.8 out of 5 stars,18699
24,(Refurbished) Lenovo ThinkPad 8th Gen Intel Co...,https://m.media-amazon.com/images/I/611AaVzaCQ...,3.8 out of 5 stars,18699
156,(Refurbished) Lenovo ThinkPad 8th Gen Intel Co...,https://m.media-amazon.com/images/I/611AaVzaCQ...,3.8 out of 5 stars,18699

### High price laptops

In [62]:
data.sort_values('prices',ascending=False).head()

,titles,images,rating,prices
297,Lenovo IdeaPad Slim 5 Ryzen 7 7730U (16GB RAM/...,https://m.media-amazon.com/images/I/81PuoXg49E...,3.8 out of 5 stars,63990
11,Lenovo IdeaPad Slim 5 Ryzen 7 7730U (16GB RAM/...,https://m.media-amazon.com/images/I/81PuoXg49E...,3.8 out of 5 stars,63990
99,Lenovo IdeaPad Slim 5 Ryzen 7 7730U (16GB RAM/...,https://m.media-amazon.com/images/I/81PuoXg49E...,3.8 out of 5 stars,63990
187,Lenovo IdeaPad Slim 5 Ryzen 7 7730U (16GB RAM/...,https://m.media-amazon.com/images/I/81PuoXg49E...,3.8 out of 5 stars,63990
253,Lenovo IdeaPad Slim 5 Ryzen 7 7730U (16GB RAM/...,https://m.media-amazon.com/images/I/81PuoXg49E...,3.8 out of 5 stars,63990

In [ ]:
data.to_csv('finallaptop_products.csv')

In [57]:
data.to_excel('finallaptop_products.xlsx', index=False)